{% extends "base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}
<h2>User Details</h2>
<h1>{{ user_profile.name }}</h1>
<p>Email: {{ user_profile.email }}</p>
{% if user_profile.profile_picture %}
<img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
{% else %}
<img src="../media/profile_pictures/default.jpeg" alt="Profile Picture" style="max-height: 40px">
{% endif %}
<p>Businesses owned: {{ user_profile.businesses.count }}</p>
<p>First Name: {{ user_profile.first_name }}</p>

{% endblock %}