.navbar43-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar43-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(153, 155, 210, 0.19);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.navbar43-image1 {
  height: 3rem;
}
.navbar43-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar43-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar43-link1 {
  font-family: "STIX Two Text";
}
.navbar43-link2 {
  font-family: "STIX Two Text";
}
.navbar43-link3 {
  font-family: "STIX Two Text";
}
.navbar43-link5 {
  font-family: "STIX Two Text";
}
.navbar43-buttons {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar43-action1 {
  display: flex;
  flex-direction: row;
}
.navbar43-text {
  font-family: "STIX Two Text";
}
.navbar43-icon {
  width: 40px;
  height: 40px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.navbar43-burger-menu {
  display: none;
}
.navbar43-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar43-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar43-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar43-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar43-logo {
  height: 3rem;
}
.navbar43-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar43-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar43-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar43-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}
@media(max-width: 767px) {
  .navbar43-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar43-desktop-menu {
    display: none;
  }
  .navbar43-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar43-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar43-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.banner1-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  border-bottom-width: 0px;
}
.banner1-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner1-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.banner1-title {
  text-align: center;
  font-family: "STIX Two Text";
}
.banner1-text {
  text-align: center;
  font-family: "STIX Two Text";
}

.toast63-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.toast63-header {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.toast63-title {
  font-family: "STIX Two Text";
}
@media(max-width: 767px) {
  .toast63-header {
    gap: var(--dl-space-space-unit);
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
  }
}

.features4-layout301 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.features4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features4-row {
  width: 100%;
}
.features4-feature1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.features4-content {
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.features4-section-title {
  height: 250px;
  align-self: stretch;
  align-items: center;
}
.features4-title1 {
  text-align: center;
  font-family: "STIX Two Text";
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
}
.features4-text {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 700;
}
.features4-text1 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.features4-text2 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
}
.features4-feature2 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.features4-section-title1 {
  height: 250px;
  align-self: stretch;
  align-items: center;
}
.features4-title11 {
  text-align: center;
  font-family: "STIX Two Text";
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
}
.features4-text3 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 700;
}
.features4-text4 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.features4-text5 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
}
.features4-feature3 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.features4-content1 {
  align-self: stretch;
  align-items: center;
}
.features4-section-title2 {
  align-self: stretch;
  align-items: center;
}
.features4-section-title3 {
  height: 250px;
  align-self: stretch;
  align-items: center;
}
.features4-title12 {
  text-align: center;
  font-family: "STIX Two Text";
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
}
.features4-text6 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 700;
}
.features4-text7 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.features4-text8 {
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 600;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
}
@media(max-width: 991px) {
  .features4-row {
    width: auto;
    align-items: center;
    flex-direction: column;
  }
  .features4-feature1 {
    width: 100%;
  }
  .features4-feature2 {
    width: 100%;
  }
  .features4-feature3 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .features4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.footer44-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer44-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer44-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer44-logo {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer44-logo1 {
  height: 2rem;
}
.footer44-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer44-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer44-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer44-container {
  display: flex;
  align-items: flex-start;
}
.footer44-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer44-text6 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
@media(max-width: 767px) {
  .footer44-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer44-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer44-links {
    flex-direction: column;
  }
  .footer44-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.detail-businesses-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.detail-businesses-container01 {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #080a45;
  border-width: 0px;
  justify-content: flex-start;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.detail-businesses-container02 {
  flex: 0 0 auto;
  width: 30%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.detail-businesses-image {
  width: 200px;
  object-fit: cover;
}
.detail-businesses-container03 {
  top: 43px;
  flex: 0 0 auto;
  right: 0px;
  width: 70%;
  height: 200px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.detail-businesses-text {
  font-family: "STIX Two Text";
  padding-top: 10px;
  padding-bottom: 10px;
}
.detail-businesses-container04 {
  width: 100%;
  height: 49px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.detail-businesses-container05 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 0;
}
.detail-businesses-icon {
  width: 10%;
  height: 70%;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}
.detail-businesses-text1 {
  z-index: 100;
  font-size: 20px;
  font-family: "STIX Two Text";
  margin-left: 10px;
}
.detail-businesses-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.detail-businesses-icon02 {
  width: 10%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}
.detail-businesses-text2 {
  font-size: 20px;
  margin-top: auto;
  font-family: "STIX Two Text";
  margin-left: 10px;
  margin-bottom: auto;
}
.detail-businesses-container07 {
  width: 100%;
  height: 49px;
  display: flex;
  align-items: flex-start;
}
.detail-businesses-container08 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.detail-businesses-icon04 {
  width: 10%;
  height: 70%;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}
.detail-businesses-text3 {
  font-size: 20px;
  margin-top: auto;
  font-family: "STIX Two Text";
  margin-left: 10px;
  margin-bottom: auto;
}
.detail-businesses-container09 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.detail-businesses-icon06 {
  width: 10%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}
.detail-businesses-text6 {
  font-size: 20px;
  margin-top: auto;
  font-family: "STIX Two Text";
  margin-left: 10px;
  margin-bottom: auto;
}
.detail-businesses-container10 {
  width: 100%;
  height: 49px;
  display: flex;
  align-items: flex-start;
}
.detail-businesses-container11 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.detail-businesses-icon08 {
  width: 10%;
  height: 70%;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}
.detail-businesses-text7 {
  font-size: 20px;
  margin-top: auto;
  text-align: left;
  font-family: "STIX Two Text";
  margin-left: 10px;
  margin-bottom: auto;
}
.detail-businesses-container12 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.detail-businesses-icon10 {
  width: 10%;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}
.detail-businesses-text8 {
  font-size: 20px;
  margin-top: auto;
  font-family: "STIX Two Text";
  margin-left: 10px;
  margin-bottom: auto;
}

#edit-bs-btn {
  background-color: #080a45;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "STIX Two Text";
  margin-top: 20px;
}

.delete-bs-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "STIX Two Text";
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#confirm-delete-container {
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 10px;
  margin: 20px 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#confirm-delete-container button[type="submit"] {
  background-color: red;
}

#confirm-delete-container button[type="submit"]:hover {
  background-color: #23297f;
}

.banner1-container {
  z-index: 1;
}