{% extends 'new_base.html' %}
{% load static %}
{% block title %}
<title>Anza | Create Business</title>
{% endblock %}
{% block meta %}
<meta property="og:title" content="Anza | Create Business" />
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'new-styles.css' %}" />
{% endblock %}
{% block divclass %}container-fluid w-100 m-0 p-0{% endblock %}  
{% block content %}
<div class="container mb-4">
    <header class="row p-1 m-1">
        <h3 class="text-center my-auto">Create a Business
        </h3>
    </header>
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-3 align-items-center">
                <div class="mb-3 col-md-6">
                    <label for="id_name" class="form-label">Business Name</label>
                    <input type="text" name="name" class="form-control" id="id_name">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="id_phone_number" class="form-label">Phone Number</label>
                    <input type="text" name="phone_number" class="form-control" id="id_phone_number">
                </div>
            </div>
            <!-- <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile">
            </div> -->
            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                <textarea class="form-control" id="id_description" name="description" rows="3"></textarea>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="id_category">Category</label>
                    <select class="form-select" id="id_category" name="category">
                        {% for value, label in form.fields.categories.choices %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="id_logo" class="form-label">Upload Business Logo</label>
                    <input class="form-control" type="file" name="logo" id="id_logo" accept="image/*">
                </div>
            </div>
            <button type="submit" class="btn btn-just-blue w-100">Create Business</button>
        </form>
    </div>
</div>
{% endblock %}