{% extends 'new_base.html' %}
{% load static %}
{% block title %}
<title>Anza | Create Product</title>
{% endblock %}
{% block meta %}
<meta property="og:title" content="Anza | Create Product" />
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static './new-styles.css' %}" />
{% endblock %}
{% block divclass %}container-fluid w-100 m-0 p-0{% endblock %}  
{% block content %}
<div class="container">
    <header class="row p-1 m-1">
        <h3 class="text-center my-auto">Create a Product
        </h3>
    </header>
    <div class="row">
        <form>
            <div class="row g-3 align-items-center">
                <div class="mb-3 col-md-6">
                    <label for="id_name" class="form-label">Product Name</label>
                    <input type="text" name="name" class="form-control" id="id_name" maxlength="255" required>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="id_price" class="form-label">Price</label>
                    <input type="number" name="price" step="10" class="form-control" id="id_price" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                <textarea class="form-control" id="id_description" name="description" rows="3"></textarea>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="id_category">Category</label>
                    <select class="form-select" id="id_category" name="category">
                        <option selected>Category</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="id_quantity" class="form-label">Quantity</label>
                    <input type="number" name="quantity" step="1" class="form-control" id="id_quantity">
                </div>
            </div>
            
            <div class="mb-3">
                <label for="id_image" class="form-label">Upload Product Cover Image</label>
                <input class="form-control" type="file" id="id_image" accept="image/*" multiple>
            </div>
            
            <button type="submit" class="btn btn-just-blue w-100">Create Product</button>
            </form>
    </div>
</div>
{% endblock %}