{% extends 'basepage.html' %}
{% load static %}

{% block title %}
<title>{{ business.name }} - Bizmob</title>
{% endblock %}
{% block meta %}
<meta property="og:title" content="Detail-Businesses - Anza" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
{% endblock %}
{% block style %}
<style data-tag="reset-style-sheet">
  html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
</style>
<style data-tag="default-style-sheet">
  html {
    font-family: Inter;
    font-size: 16px;
  }

  body {
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-theme-neutral-dark);
    background-color: var(--dl-color-theme-neutral-light);

    fill: var(--dl-color-theme-neutral-dark);
  }
</style>
{% endblock %}
{% block link %}
<link
  rel="stylesheet"
  href="https://unpkg.com/animate.css@4.1.1/animate.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;300;400;500;600;700;800&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
/>
<link rel="stylesheet" href="{% static './style.css' %}" />
<link href="{% static './detail-businesses.css' %}" rel="stylesheet" />
{% endblock %}
{% block script %}
{% endscript %}
{% block divclass %}detail-businesses-container{% endblock %}
{% block content %}
<div class="detail-businesses-container01">
  <div class="detail-businesses-container02">
    {% if business.logo %}
      <img
        alt="image"
        src="{{ business.logo.url|default:'https://images.unsplash.com/photo-1602934445884-da0fa1c9d3b3?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE0fHxMT0dPfGVufDB8fHx8MTcyMDEwMzMxOHww&amp;ixlib=rb-4.0.3&amp;w=200' }}"
        class="detail-businesses-image"
    />
      {% else %}
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1602934445884-da0fa1c9d3b3?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE0fHxMT0dPfGVufDB8fHx8MTcyMDEwMzMxOHww&amp;ixlib=rb-4.0.3&amp;w=200"
        class="detail-businesses-image"
    />
    {% endif %}
      
  </div>
  <div class="detail-businesses-container03">
    <h1 class="detail-businesses-text">{{ business.name }}</h1>
    <div class="detail-businesses-container04">
      <div class="detail-businesses-container05">
        <svg viewBox="0 0 1024 1024" class="detail-businesses-icon">
          <path
            d="M512 640q52 0 90-38t38-90-38-90-90-38-90 38-38 90 38 90 90 38zM512 86q176 0 301 125t125 301v62q0 64-43 108t-105 44q-78 0-126-64-64 64-152 64t-151-63-63-151 63-151 151-63 151 63 63 151v62q0 26 19 46t45 20 45-20 19-46v-62q0-140-101-241t-241-101-241 101-101 241 101 241 241 101h214v84h-214q-176 0-301-125t-125-301 125-301 301-125z"
          ></path>
        </svg>
        <span class="detail-businesses-text1">{{ business.email }}</span>
      </div>
      <div class="detail-businesses-container06">
        <svg viewBox="0 0 1024 1024" class="detail-businesses-icon02">
          <path
            d="M768 598v-86h-234l-86 86h320zM256 598h106l294-294q16-16 0-30l-76-76q-16-14-30 0l-294 294v106zM854 86q34 0 59 25t25 59v512q0 34-25 60t-59 26h-598l-170 170v-768q0-34 25-59t59-25h684z"
          ></path>
        </svg>
        <span class="detail-businesses-text2">Reviews: TBD</span>
      </div>
    </div>
    <div class="detail-businesses-container07">
      <div class="detail-businesses-container08">
        <svg viewBox="0 0 1024 1024" class="detail-businesses-icon04">
          <path
            d="M512 0c-282.77 0-512 229.23-512 512s229.23 512 512 512 512-229.23 512-512-229.23-512-512-512zM512 960.002c-62.958 0-122.872-13.012-177.23-36.452l233.148-262.29c5.206-5.858 8.082-13.422 8.082-21.26v-96c0-17.674-14.326-32-32-32-112.99 0-232.204-117.462-233.374-118.626-6-6.002-14.14-9.374-22.626-9.374h-128c-17.672 0-32 14.328-32 32v192c0 12.122 6.848 23.202 17.69 28.622l110.31 55.156v187.886c-116.052-80.956-192-215.432-192-367.664 0-68.714 15.49-133.806 43.138-192h116.862c8.488 0 16.626-3.372 22.628-9.372l128-128c6-6.002 9.372-14.14 9.372-22.628v-77.412c40.562-12.074 83.518-18.588 128-18.588 70.406 0 137.004 16.26 196.282 45.2-4.144 3.502-8.176 7.164-12.046 11.036-36.266 36.264-56.236 84.478-56.236 135.764s19.97 99.5 56.236 135.764c36.434 36.432 85.218 56.264 135.634 56.26 3.166 0 6.342-0.080 9.518-0.236 13.814 51.802 38.752 186.656-8.404 372.334-0.444 1.744-0.696 3.488-0.842 5.224-81.324 83.080-194.7 134.656-320.142 134.656z"
          ></path>
        </svg>
        <span class="detail-businesses-text3">
          <span><a href="{{ business.website }}">{{ business.website }}</a></span>
          <br />
        </span>
      </div>
      <div class="detail-businesses-container09">
        <svg
          viewBox="0 0 950.8571428571428 1024"
          class="detail-businesses-icon06"
        >
          <path
            d="M649.714 573.714l174.857-169.714-241.143-35.429-108-218.286-108 218.286-241.143 35.429 174.857 169.714-41.714 240.571 216-113.714 215.429 113.714zM950.857 369.714c0 10.286-7.429 20-14.857 27.429l-207.429 202.286 49.143 285.714c0.571 4 0.571 7.429 0.571 11.429 0 15.429-6.857 28.571-23.429 28.571-8 0-16-2.857-22.857-6.857l-256.571-134.857-256.571 134.857c-7.429 4-14.857 6.857-22.857 6.857-16.571 0-24-13.714-24-28.571 0-4 0.571-7.429 1.143-11.429l49.143-285.714-208-202.286c-6.857-7.429-14.286-17.143-14.286-27.429 0-17.143 17.714-24 32-26.286l286.857-41.714 128.571-260c5.143-10.857 14.857-23.429 28-23.429s22.857 12.571 28 23.429l128.571 260 286.857 41.714c13.714 2.286 32 9.143 32 26.286z"
          ></path>
        </svg>
        <span class="detail-businesses-text6">Rating: TBD</span>
      </div>
    </div>
    <div class="detail-businesses-container10">
      <div class="detail-businesses-container11">
        <svg viewBox="0 0 1024 1024" class="detail-businesses-icon08">
          <path
            d="M282 460q96 186 282 282l94-94q20-20 44-10 72 24 152 24 18 0 30 12t12 30v150q0 18-12 30t-30 12q-300 0-513-213t-213-513q0-18 12-30t30-12h150q18 0 30 12t12 30q0 80 24 152 8 26-10 44z"
          ></path>
        </svg>
        <span class="detail-businesses-text7">{{ business.phone_number }}</span>
      </div>
      <div class="detail-businesses-container12">
        <svg viewBox="0 0 1024 1024" class="detail-businesses-icon10">
          <path
            d="M0 1024h512v-1024h-512v1024zM320 128h128v128h-128v-128zM320 384h128v128h-128v-128zM320 640h128v128h-128v-128zM64 128h128v128h-128v-128zM64 384h128v128h-128v-128zM64 640h128v128h-128v-128zM576 320h448v64h-448zM576 1024h128v-256h192v256h128v-576h-448z"
          ></path>
        </svg>
        <span class="detail-businesses-text8">
          Location: {{ business.address }}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="banner1-container thq-section-padding">
  <div class="banner1-max-width thq-section-max-width">
    <div class="banner1-container1">
      <h2 class="banner1-title thq-heading-2">
        <span>Description</span>
      </h2>
      <h3 class="banner1-text thq-heading-3">
        <span>
          {{ business.description }}
        </span>
      </h3>
    </div>
  </div>
</div>
<div class="toast63-container">
  <div class="toast63-header">
    <h2 class="toast63-title thq-heading-2"><span>Products</span></h2>
  </div>
</div>
<div class="features4-layout301 thq-section-padding">
  <div class="features4-max-width thq-section-max-width">
    <div class="features4-row thq-grid-auto-300">
      {% for product in products %}
      <div class="features4-feature1">
        {% with product.is_cover_image as cover_img %}
        <img
          alt="Product Listing Image"
          src="{{ cover_img.image.url|default:'https://images.unsplash.com/photo-1602810316693-3667c854239a?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE5fHxzaGlydHxlbnwwfHx8fDE3MjAxMDY2ODF8MA&amp;ixlib=rb-4.0.3&amp;w=600' }}"
          class="thq-img-ratio-4-3"
        />
        {% endwith %}
        <div class="features4-content thq-flex-column">
          <div class="features4-section-title thq-flex-column">
            <h3 class="features4-title1 thq-heading-3">
              <span><a href="/products/{{ product.product_id }}">{{ product.name }}</a></span>
            </h3>
            <span class="features4-text"><span>Price: {{ product.price }}</span></span>
            <span class="features4-text1"><span>Rating: {{ product.get_rating }}</span></span>
            <span class="features4-text2"><span>Reviews: {{ product.get_rev_count }}</span></span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts_end %}
<script
  defer=""
  src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
></script>
{% endblock %}