{% extends 'new_base.html' %}
{% load static %}

{% block title %}
<title>List-Products - Bizmob</title>
{% endblock %}
{% block meta %}
<meta property="og:title" content="List-Products - Anza" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
{% endblock %}
{% block style %}
<style data-tag="reset-style-sheet">
  html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
</style>
<style data-tag="default-style-sheet">
  html {
    font-family: Inter;
    font-size: 16px;
  }

  body {
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-theme-neutral-dark);
    background-color: var(--dl-color-theme-neutral-light);

    fill: var(--dl-color-theme-neutral-dark);
  }
</style>
{% endblock %}
{% block link %}
<link
  rel="stylesheet"
  href="https://unpkg.com/animate.css@4.1.1/animate.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;300;400;500;600;700;800&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
/>
<link href="{% static 'list-products.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="{% static 'new-styles.css' %}" />
{% endblock %}
{% block script %}
{% endblock %}
{% block divclass %}list-products-container{% endblock %}
{% block content %}
<div class="toast61-container">
  <div class="toast61-header">
    <h2 class="toast61-title thq-heading-2">
      <span>Top Products</span>
    </h2>
  </div>
</div>
{% for product in products %}
<div class="list-products-container1">
  {% with product.is_cover_image as cover_img %}
  <img
    alt="product-logo"
    src="{{ cover_img.image.url|default:'https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDh8fHByb2R1Y3R8ZW58MHx8fHwxNzIwMTAwNDA5fDA&amp;ixlib=rb-4.0.3&amp;w=300' }}"
    class="list-products-image"
  />
  {% endwith %}
  <div class="list-products-container2">
    <h1 class="list-products-text"><a href=/products/{{ product.product_id }}>{{ product.name }}</a> | Ksh. {{ product.price }}</h1>
    <span class="list-products-text01">Rating: TBD</span>
    <span class="list-products-text02">Reviews: TBD</span>
    <span class="list-products-text02">Business: {{ product.business }}</span>
    <!-- <span class="list-products-text03">Description: {{ product.description }}</span> -->
  </div>
</div>
{% endfor %}
{% endblock %}
{% block scripts_end %}
<script
  defer=""
  src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
></script>
{% endblock %}