{% extends 'new_base.html' %}
{% load static %}

{% block title %}
<title>Sign Up - Bizmob</title>
{% endblock %}
{% block meta %}
<meta property="og:title" content="Sign-Up - Anza" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
<!-- <meta property="twitter:card" content="summary_large_image" /> -->
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}
{% block style %}
<style data-tag="reset-style-sheet">
  html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
</style>
<style data-tag="default-style-sheet">
  html {
    font-family: Inter;
    font-size: 16px;
  }

  body {
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-theme-neutral-dark);
    background-color: var(--dl-color-theme-neutral-light);

    fill: var(--dl-color-theme-neutral-dark);
  }
</style>
{% endblock %}
{% block link %}
<link
  rel="stylesheet"
  href="https://unpkg.com/animate.css@4.1.1/animate.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;300;400;500;600;700;800&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
/>
<link href="{% static './sign-up.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static './style.css' %}" />
<link rel="stylesheet" href="{% static './new-styles.css' %}" />
{% endblock %}
{% block divclass %}sign-up-container{% endblock %}
{% block content %}
  <div class="sign-up4-container">
    <img
      alt="Sign Up Image"
      src="https://images.unsplash.com/photo-1585232351009-aa87416fca90?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMDAxMjU0MXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
      class="sign-up4-sign-up-image thq-img-ratio-16-9"
    />
    <div class="sign-up4-container1"></div>
    <div class="sign-up4-max-width thq-section-max-width">
      <div class="sign-up4-form thq-section-padding">
        <div class="sign-up4-title-root">
          <h2 class="sign-up4-text thq-heading-2">
            <span>Join Anza Today</span>
          </h2>
          <p class="thq-body-large sign-up4-text1">
            Already have an account? <a href="{% url 'login' %}">Sign in</a>
          </p>
        </div>
        <div class="sign-up4-container2">
          <button class="sign-up4-button thq-button-outline">
            <svg
              viewBox="0 0 860.0137142857142 1024"
              class="sign-up4-icon"
            >
              <path
                d="M438.857 449.143h414.286c4 22.286 6.857 44 6.857 73.143 0 250.286-168 428.571-421.143 428.571-242.857 0-438.857-196-438.857-438.857s196-438.857 438.857-438.857c118.286 0 217.714 43.429 294.286 114.857l-119.429 114.857c-32.571-31.429-89.714-68-174.857-68-149.714 0-272 124-272 277.143s122.286 277.143 272 277.143c173.714 0 238.857-124.571 249.143-189.143h-249.143v-150.857z"
              ></path>
            </svg>
            <span class="thq-body-small">
              <span>Continue with Google</span>
            </span>
          </button>
        </div>
        <div class="sign-up4-divider">
          <div class="sign-up4-divider1"></div>
          <p class="thq-body-large">OR</p>
          <div class="sign-up4-divider2"></div>
        </div>
        <span class="sign-up4-text4 thq-body-small">
          <span>
            Sign up now to start showcasing your products, receiving
            feedback, and reaching more customers.
          </span>
        </span>
        <form class="sign-up4-form1" id="signUp" method="post">
          {% csrf_token %}
          <div class="sign-up4-email">
            <input
              type="email"
              name="{{ form.email.name }}"
              id="id_email"
              required="true"
              placeholder="Email address"
              class="sign-up4-textinput thq-input thq-body-large"
              value="{{ form.email.value|default_if_none:'' }}"
            />
            <input
              type="text"
              name="{{ form.username.name }}"
              id="id_username"
              required="true"
              placeholder="Username"
              class="sign-up4-textinput1 thq-input thq-body-large"
              value="{{ form.username.value|default_if_none:'' }}"
            />
            <input
              type="password"
              name="password1"
              id="id_password1"
              required="true"
              placeholder="Password"
              class="sign-up4-textinput2 thq-input thq-body-large"
            />
            <input
              type="password"
              name="password2"
              id="id_password2"
              required="true"
              placeholder="Re-enter Password"
              class="sign-up4-textinput3 thq-input thq-body-large"
            />
          </div>
          <div class="sign-up4-container3">
            <div class="sign-up4-terms-agree">
              <input
                type="checkbox"
                id="thq-sign-up-4-terms"
                class="thq-checkbox"
              />
              <label for="thq-sign-up-4-terms" class="thq-body-large">
                <span>
                  Show password
                </span>
                <span></span>
              </label>
            </div>
          </div>
          <button type="submit" class="sign-up4-button1 thq-button-filled">
            <span class="sign-up4-text8 thq-body-small">
              <span>Sign Up Now</span>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts_end %}
<script
  defer=""
  src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
></script>
<script>
  const showpassword = document.getElementById('thq-sign-up-4-terms');
  const password = document.getElementById('id_password1');
  const password2 = document.getElementById('id_password2');
  showpassword.addEventListener('change', () => {
    if (showpassword.checked) {
      password.type = 'text';
      password2.type = 'text';
    } else {
      password.type = 'password';
      password2.type = 'password';
    }
  });
</script>
<script>
  const signUpForm = document.getElementById('signUp');
  signUpForm.addEventListener('submit', (e) => {
    const password = document.getElementById('id_password1');
    const password2 = document.getElementById('id_password2');
    if (password.value !== password2.value) {
      e.preventDefault();
      alert('Passwords do not match');
    }
  });
</script>
<script>
  $(document).ready(function(){
    $('#signUp').submit(function(e){
      e.preventDefault()
      e.stopPropagation()
      const formData = new FormData(this)
      $.ajax({
        type: 'POST',
        url: '{% url "signup" %}',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response){
          window.location.href = '{% url "login" %}'
        },
        error: function(xhr) {
          console.log(xhr.responseText)
          const errors = JSON.parse(xhr.responseText);
          console.log(errors)
          for (const field in errors) {
            if (errors.hasOwnProperty(field)) {
              errors[field].forEach(error => {
                alert(`${error.message}`);
              });
            }
          }
        }
      });
    });
  });
</script>
{% endblock %}